<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1>Welcome!</h1>
            <form>
                <div class="form-group">
                    <button class="btn btn-dark btn-lg">Test!</button>
                </div>
            </form>
        </div>
        <div class="col-md-8">
            <app-cucumber-test></app-cucumber-test>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-ngtest-test></app-ngtest-test>
        </div>
    </div>
</div>
