<h3>TestNG Results</h3>
<table class="table table-striped table-dark table-hover table-sm table-responsive">
    <thead>
        <tr>
            <th>Name</th>
            <th>Signature</th>
            <th>Duration (MS)</th>
            <th>Started At</th>
            <th>Finished At</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody *ngFor="let method of testResults.testMethods; let index = index">
        <!-- <div *ngFor="let method of testResults.testMethods"> -->
            <tr>
                <td>{{ method.name }}</td>
                <td>{{ method.signature }}</td>
                <td>{{ method.duration_ms }}</td>
                <td>{{ method.startedTime | dates }}</td>
                <td>{{ method.finishedTime | dates }}</td>
                <td [ngStyle]="{ background: method.status == 'Passed' ? 'green' : 'darkred' }">{{ method.status }}</td>
            </tr>
            <tr>
                <td *ngIf="method.exceptionClass != null" class="table-danger">{{ method.exceptionClass }}</td>
                <td *ngIf="method.exceptionClass != null" colspan="5" class="table-danger">
                    <button class="btn btn-dark" (click)="toggleStackTrace(index)">{{ btnText }} Stack Trace</button>
                    <div *ngIf="method.showStackTrace">
                        <p>{{ method.stackTrace | stacktrace }}</p>
                    </div>
                </td>
            </tr>
        <!-- </div> -->
    </tbody>
</table>
